<!DOCTYPE html>
<html>

<head>
    <title>StyleGuy</title>
    <link rel="stylesheet" type="text/css" href="./main.min.css"/>
</head>

<body keyboard-nav="off">
    <div app class="contain">
        <v-style v-cloak>
            {{ cssmin }}
        </v-style>
        
        <header class="row -sty">
            <ul role    ="menubar">
                    <li role    ="menuitem"
                        tabindex="0"
                        @click  ="tab = 'project'"
                        :class  ="{ selected : tab === 'project' }"
                    >
                    project
                </li>
                <li role    ="menuitem"
                    tabindex="0"
                    @click  ="tab = 'edit'"
                    :class  ="{ selected : tab === 'edit' }"
                >
                    edit
                </li>
                <li role    ="menuitem"
                    tabindex="0"
                    @click  ="tab = 'view'"
                    :class  ="{ selected : tab === 'view' }"
                >
                    view
                </li>
                <li role    ="menuitem"
                    tabindex="0"
                    @click  ="tab = 'export'"
                    :class  ="{ selected : tab === 'export' }"
                >
                    export
                </li>
                <li role    ="menuitem"
                    tabindex="0"
                    @click  ="tab = 'about'"
                    :class  ="{ selected : tab === 'about' }"
                >
                    ?
                </li>
            </ul>
        </header>

        <div class="loading-mask -sty" :class="{ loaded: loaded }">
            <div class="loader"></div>
        </div>

        <main>
            <section v-show="tab === 'project'" class="row -sty page-project">
                <div class="container">
                    <table>
                        <tr>
                            <th>Details</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Project Title</td>
                            <td>
                                <input
                                    type        ="text" 
                                    v-model     ="projectTitle"
                                    placeholder ="New style guide"
                                />
                            </td>
                        </tr>
                        <tr>
                            <th>Theme</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Brand Color</td>
                            <td class="picker-anchor">
                                <div
                                    class   ="color-block"
                                    tabindex="0"
                                    :style  ="{ backgroundColor: themeColor }"
                                    @click  ="themeColorPicker = true"
                                >
                                    {{ themeColor }}
                                </div>
                                <color-picker
                                    v-show  ="themeColorPicker"
                                    :value  ="themeColor"
                                    @close  ="
                                        themeColorPicker = false;
                                        setThemeColor($event);
                                    "
                                ></color-picker>
                            </td>
                        </tr>
                        <tr>
                            <td>Brand Logo URL</td>
                            <td>
                                <input
                                    type        ="text"
                                    v-model     ="themeLogo"
                                    placeholder ="http://your-site/your-logo.png"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>Code Snippet Theme</td>
                            <td>
                                <button
                                    :class="{selected : themeEditor === 'dark'}"
                                    @click="toggleEditorTheme()"
                                >
                                    Dark
                                </button>
                                <button
                                    :class="{selected : themeEditor === 'light'}"
                                    @click="toggleEditorTheme()"
                                >
                                    Light
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>

            <section v-show="tab === 'view' || tab === 'edit'" class="row fill-height">
                <nav class="col -sty">
                    <ul role="menu">
                        <li role    ="menuitem"
                            v-if    ="tab === 'edit' || groupHasItems(group)"
                            v-for   ="(group, g_label, i) in menu"
                            tabindex="0"
                            @click  ="menuGroup = g_label"
                            :class  ="{ selected : menuGroup === g_label }"
                        >
                            {{ g_label }}
                            <ul role="menu">
                                <li role        ="menuitem"
                                    v-if        ="tab == 'edit' || item.some(e => e.style || e.hex)"
                                    v-for       ="(item, i_label, j) in group"
                                    :class      ="{ selected : menuItem === i_label }"
                                    :tabindex   ="menuGroup === g_label ? 0 : -1"
                                    @click      ="
                                        menuItem = i_label;
                                        page = menu[menuGroup][menuItem];
                                    "
                                >
                                    {{ i_label }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            
                <section
                    class   ="col page"
                    v-if    ="tab === 'edit' || tab === 'view'"
                >
                    <template v-if="menuItem === 'color'">
                        <color-page
                            v-if            ="tab === 'edit' || page.length > 0"
                            v-model         ="page"
                            :editable       ="tab === 'edit'"
                            @color-change   ="generateCss"
                        ></color-page>
                    </template>
                    <template v-else-if="menuItem === 'typography'">
                        <font-page
                            v-if        ="tab === 'edit' || page.length > 0"
                            v-model     ="page"                        
                            :editable   ="tab === 'edit'"
                            @css-change ="generateCss"
                        ></font-page>
                    </template>
                    <template v-else>
                        <element-editor
                            v-for       ="(el, index) in page"
                            v-if        ="tab === 'edit' || el.style"                            
                            v-model     ="el"
                            :editable   ="tab === 'edit'"
                            @css-change ="generateCss"
                            @add-element="addElement(page, index, $event)"
                        ></element-editor>
                    </template>
                    <div v-if="!cssmin && tab === 'view'" class="empty-error -sty">
                        <h2>No styles have been added yet</h2>
                    </div>
                </section>
            </section>

            <section v-show="tab === 'export'" class="row -sty">
                <h3> #todo </h3>
                <ul>
                    <li>Hosted files</li>
                    <ul>
                        <li>StyleGuide.html</li>
                        <li>StyleSheet.min.css</li>
                    </ul>
                    <li>Download Files</li>
                    <ul>
                        <li>guide.html</li>
                        <li>style.sass</li>
                        <li>style.min.css</li>
                        <li>project.json</li>
                    </ul>
                </ul>
            </section>

            <section v-show="tab === 'about'" class="row -sty">
                <h3> #todo </h3>
                <ul>
                    <li>about</li>
                    <li>help</li>
                    <li>contact</li>
                </ul>
            </section>
        </main>
    </div>

    <script src="js/lib/vue.min.js"></script>
    <script data-main="js/init" src="js/lib/require.js"></script>
</body>

</html>