.-sty .color-picker {
  position: absolute;

  .bg-mask {
    position: fixed;
    z-index: $modal-z - 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .modal {
    position: relative;
    z-index: $modal-z;
    background-color: white;
    padding: 10px 28px 10px 10px;
    border: 1px solid $c-prim-light;
    border-radius: 6px;
  }

  .sample-contain {
    background-image: url('./assets/opac_bg.svg');
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;

    .sample {
      height: 30px;
      line-height: 30px;

      &>div {
        font-size: 14px;
        position: absolute;
        transition: top 0.4s, opacity 0.2s;
        top: 10px;
        left: 20px;

        input {
          width: 28px;
          padding: 2px;
          border-radius: 4px;
          border: 1px solid transparent;
          margin-right: 1px;
          color: inherit;
          text-align: right;
          background-color: transparent;
          transition: border-color 0.2s, background-color 0.2s;

          &.alpha {
            width: 34px;
          }
        }

        &.hex {
          left: 100px;

          input {
            width: 80px;
            text-align: left;
            text-transform: uppercase;
          }
        }
      }

      i {
        position: absolute;
        top: 9;
        right: 36px;
        opacity: 0.6;
        transition: opacity 0.2s;
        cursor: pointer;
      }

      &[editmode="0"] {
        .rgb, .hex {
          pointer-events: none;
          opacity: 0;
        }
        .rgb {
          top: 40px;
        }
        .hex {
          top: 70px;
        }
        .hsl {
          transition: top 0.4s, opacity 0.25s ease 0.15s;
        }
      }

      &[editmode="1"] {
        .hsl, .hex {
          pointer-events: none;
          opacity: 0;
        }
        .hsl {
          top: -20px;
        }
        .hex {
          top: 40px;
        }
      }

      &[editmode="2"] {
        .hsl, .rgb {
          pointer-events: none;
          opacity: 0;
        }
        .hsl {
          top: -50px;
        }
        .rgb {
          top: -20px;
        }
      }

      &:hover {
        &>div input {
          border-color: $c-editor-light;
          background-color: white;
          color: $c-text;
        }

        i {
          opacity: 1;
        }
      }
    }
  }

  .palette {
    position: relative;
    display: block;
    width: 255px;
    height: 255px;
    cursor: pointer;

    &:after, &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
    }
    
    &:after {
      background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
    &:before {
      background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }

    .cursor {
      position: absolute;
      z-index: 10;
      pointer-events: none;
      display: inline-block;
      margin: -8px 0 0 -8px;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      border: 3px solid $c-prim;
      box-shadow: 0px 0px 0px 1px $c-editor-light;
    }
  }

  .hue-slider, .alpha-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 255px;
    height: 10px;
    border-radius: 6px; 
    outline: none;

    &::-moz-range-track {
      background-color: transparent;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: $c-prim;
      border: 2px solid #fff;
      cursor: pointer;
    }
  }

  .hue-slider {
    position: relative;
    z-index: 10;
    height: 10px;
    margin-top: 10px;
    background: linear-gradient(to right, red,yellow,green,blue,indigo,violet, red);

    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: repeat;
    }
  }

  .alpha-contain {
    position: absolute;
    right: -110px;
    top: 172px;
    height: 10px;
    border-radius: 6px;
    transform: rotate(-90deg);
    background-image: url('./assets/opac_bg.svg');

    .alpha-slider {
      border: 1px solid #000;
      margin: 0;
    }
  }

  .footer {
    margin: 10px 0 0 40px;

    button:first-child {
      margin-right: 20px;
    }
  }
}