.font-page {
    .font-editor {
        .-sty.desc {
            margin: -15px 0 15px;
            border: 1px solid $c-editor;
            border-radius: 4px;
        }

        :not(.-sty-preview) .center-preview {
            height: 244px;
            display: table;

            .-sty-preview {
                display: table-cell;
                vertical-align: middle;
            }
        }

        .-sty {
            code {
                line-height: 22px;
                padding: 28px 48px 35px;
                height: auto;

                p {
                    background: none;
                }

                .param-name {
                    float: left;
                    width: 200px;
                }

                .param-value {
                    float: left;
                    width: calc(100% - 200px);
                }

                .row:hover input,
                .row:hover .dropdown,
                input:focus,
                input:focus + .dropdown-container {
                    color: $c-text;
                    background-color: white;

                    body[keyboard-nav="off"] & {
                        outline: none;
                    }
                }
            }
        }
    }

    .font-editor.editable .-sty code {
        height: 220px;
    }
}