.element-editor {
	margin-bottom: 30px;

	.center-preview {
		overflow: auto;
		text-align: center;

		&::-webkit-scrollbar {
			background-color: #333;
			height: 8px;
			border-radius: 2px;
		}
		
		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #fff4;
			border-radius: 2px;
			
			
			&:hover {
				background-color: #fff9;
			}
		}
	}

	&.editable .center-preview {
		border: 1px solid $c-editor;
		border-radius: 4px;
	}

	.-sty-preview {
		display: inline-block;
	}

	.-sty .css-edit {
		ul[role="tablist"] {
			padding: 0;
			overflow: auto;
			margin: 0;
			list-style: none;
			
			li {
				cursor: pointer;
				float: left;
				background-color: $c-editor-light;
				color: white;
				width: 80px;
				padding: 10px 8px;
				border-radius: 6px 6px 0 0;
				text-transform: uppercase;
				font-size: 10px;

				span {
					font-size: 9px;
					opacity: 0.7;
				}
				
				&.selected {
					cursor: default;
					background-color: $c-editor;
				}

				&:last-child {
					width: auto;
					padding: 2px 4px;
					background-color: transparent;

					button {
						height: 27px;
						padding: 0 10px;
						border-radius: 4px;
						font-size: 12px;
						background-color: $c-prim;

						&:hover {
							background-color: $c-prim-light;
						}
					}

				}
			}
		}
		
		p {
			margin: 0;
			width: calc(100% - 21px);
			height: 20px;
			position: absolute;
			z-index: 5;
			left: 8px;
			background-color: $c-editor;
			
			&:first-child {
				top: 6px;
			}
			
			&:last-child {
				bottom: 9px;
			}
		}

		code {
			min-height: 200px;
			position: relative;
			border-top-left-radius: 0;
		}
	}

	$add-btn-ani : 0.2s;
	div.-sty .add-varient {
		transition: all $add-btn-ani, overflow 0s linear $add-btn-ani;
		width: 120px;
		height: 36px;
		padding: 4px 10px;
		margin-top: 8px;
		border-radius: 4px;
		font-size: 11px;
		text-transform: uppercase;
		overflow: hidden;
		
		button.add-element {
			outline: none;
			text-align: left;
			width: 140px;
			height: 44px;
			padding: 8px 10px;      
			margin: -4px 0 0 -10px;
		}

		i {
			transition: transform $add-btn-ani, background-color $add-btn-ani;
			margin-right: 10px;
		}

		&:not(.active):hover {
			background-color: $c-prim-light;
			color: white;

			button.add-element i {
				background-color: $c-prim-light;
			}
		}

		&.active {
			transition: all $add-btn-ani;
			height: 142px;
			width: 512px;
			background-color: $c-prim;
			color: white;

			button.add-element {
				color: white;

				i {
					transform: rotate(45deg);
				}
			}
		}

		label {
			display: block;
			margin: 6px 0;
			font-weight: bold;
		}

		input {
			display: block;
			width: 100%;
			margin: 6px 0;
			border: 0;
			border-radius: 2px;
			padding: 6px;
			font-size: 14px;
		}

		span {
			position: relative;
			top: 20px;
			font-weight: bold;
			font-style: italic;
		}

		button.create-element {
			width: 80px;
			padding: 6px;
			border: 1px solid $c-prim-light;
			border-radius: 4px;
			margin-top: 5px;
			text-align: center;

			&:hover {
				background-color: $c-prim-light;
			}
		}
	}

	$ui-edit-ani: 0.3s;
	.ui-editor {
		opacity: 0;
		pointer-events: none;      
		transition: opacity $ui-edit-ani;

		.container {
			transition: transform $ui-edit-ani;
			transform: scale(0.95) translateY(2%);
		}
		
		&.open {
			opacity: 1;
			pointer-events: all;

			.container {
				transform: scale(1) translateY(0);
			}
		}
	}
}