$icon : '.-sty i';

#{$icon} {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-color: $c-prim;
    position: relative;
    border-radius: 100%;

    &:before, &:after {
        background-color: $c-text-on-bg;
    }
  
    &.sm {
      transform: scale(0.75, 0.75);
    }
  
    &.lg {
      transform: scale(1.5, 1.5);
    }

    &.clear {
        background-color: transparent;
    }
}
  
#{$icon}.add {
    &:before, &:after {
        content: '';
        width: 17px;
        height: 4px;
        border-radius: 4px;
        position: absolute;
        top: 13px;
        left: 7px;
    }

    &:after {
        transform: rotate(90deg);
    }
}

#{$icon}.cancel {
    &:before, &:after {
        content: '';
        width: 17px;
        height: 4px;
        border-radius: 4px;
        position: absolute;
        top: 13px;
        left: 7px;
    }

    &:before {
        transform: rotate(-45deg);
    }

    &:after {
        transform: rotate(45deg);
    }
}

#{$icon}.accept {
    &:after {
        content: '';
        width: 5px;
        height: 14px;
        border: 3px solid $c-text-on-bg;
        border-width: 0 3px 3px 0;
        border-radius: 4px 0;
        position: absolute;
        top: 6px;
        left: 11px;
        transform: rotate(45deg);
        background-color: unset;
    }
}

#{$icon}.edit {
    &:before {
        content: '';
        position: absolute;
        top: 17px;
        left: 7px;
        width: 5px;
        height: 5px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 6px;
        left: 12px;
        width: 6px;
        height: 14px;
        border-bottom: 1px solid $c-prim;
        transform: rotate(45deg);
    }
}

#{$icon}.delete {
    &:after {
        content: '';
        width: 17px;
        height: 4px;
        border-radius: 4px;
        position: absolute;
        top: 13px;
        left: 6px;
    }
}

#{$icon}.caret-d {
    transition: transform 0.2s;

    &:after {
        content: '';
        position: absolute;
        border: 8px solid transparent;
        top: 11px;
        left: 7px;
        border-top-color: $c-text-on-bg;
        background-color: unset;
    }

    &.rotate {
        transform: rotate(180deg);
    }
}

#{$icon}.caret-v {
    &:before, &:after {
        content: '';
        position: absolute;
        border: 8px solid transparent;
        background-color: unset;
    }

    &:before {
        top: -3px;
        left: 7px;
        border-bottom-color: $c-text-on-bg;
    }

    &:after {
        top: 16px;
        left: 7px;
        border-top-color: $c-text-on-bg;
    }

    &.dark {
        &:before {
            border-bottom-color: $c-editor-0;
        }

        &:after {
            border-top-color: $c-editor-0;
        }
    }
}

#{$icon}.elipsis {
    &:before, &:after {
        content: '';
        position: absolute;
        top: 13px;
        width: 4px;
        height: 4px;
        border-radius: 100%;
    }

    &:before {
        left: 6px;
    }

    &:after {
        left: 14px;
        box-shadow: 8px 0 0 0 $c-text-on-bg;
    }
}

#{$icon}.mag {
    &:before, &:after {
        content: '';
        position: absolute;
        border: 2px solid $c-text-on-bg;
    }

    &:before {
        top: 16px;
        left: 9px;
        width: 0;
        height: 7px;
        border-width: 0 2px 0 0;
        transform: rotate(45deg);
    }

    &:after {
        top: 7px;
        left: 10px;
        width: 9px;
        height: 9px;
        border-radius: 100%;
        background-color: unset;
    }
}

#{$icon}.borders {
    &:before, &:after {
        content: '';
        position: absolute;
        border: 2px solid $c-text-on-bg;
        background-color: unset;
    }

    &:before {
        top: 5px;
        left: 6px;
        width: 15px;
        height: 15px;
    }

    &:after {
        top: 10px;
        left: 11px;
        width: 7px;
        height: 7px;
        border-width: 1px;
    }
}