body {
    margin: 0;
    padding: 0;
    background-color: $c-prim-light;

    .--sty {
        font-family: "Helvetica";
        color: $c-text;
    }
}

.loading-mask.--sty {
    position: fixed;
    left: 0;
    top: $header-height;
    z-index: $loading-mask-z;
    height: calc(100vh - #{$header-height});
    width: 100vw;
    background-color: white;
    opacity: 1;
    transition: opacity 0.6s;

    .loader {
        position: absolute;
        left: calc(50% - 40px);
        top: 20%;
    }

    &.loaded {
        opacity: 0;
        pointer-events: none;
    }
}

header.--sty {
    &.row {
        margin: 20px 0 0 0;
    }
    
    ul {
        padding: 0;
        list-style: none;

        li {
            transition: background-color 0.1s, color 0.1s;
            cursor: pointer;
            float: left;
            background-color: $c-prim;
            color: white;
            padding: 10px 20px;
            border-radius: 6px 6px 0 0;
            text-transform: uppercase;
            font-size: 10px;
            
            &:last-child {
                font-weight: bold;
            }
            
            &.selected {
                cursor: default;
                background-color: white;
                color: $c-text;
            }

            &:not(.selected):hover {
                color: $c-text;                
                background-color: $c-prim-lightest;
            }
        }
    }
}

:not(.--sty-preview) main {
    position: relative;
    overflow: auto;
    background-color: white;
    min-height: calc(100vh - #{$header-height});
    margin: 0 -15px;
    padding: 0 15px;

    & > section.row {
        position: absolute;
        top: 0;
        width: 100%;
    }
}

nav.--sty {
    position: sticky;
    top: 0;
    width: $nav-width;
    overflow: auto;

    ul {
        padding: 8px 0 0 0;
        list-style: none;
        text-transform: uppercase;
        font-size: 11px;
        
        &>li {
            padding: 10px 5px 10px 15px;
            border-radius: 4px;
            transition: all 0.2s;
            cursor: pointer;
            
            &:hover {
                background-color: $c-prim-light;
                color: white;
            }
            
            &.selected {
                background-color: $c-prim;
                color: white;
                
                ul {
                    padding: 5px;
                    text-transform: capitalize;
                    font-size: 12px;
                }
                
                li {
                    height: 16px;
                    padding: 5px;
                
                    &.selected {
                        cursor: default;
                        margin-left: 20px;
                        background-color: $c-prim-light;
                    }
                }
            }
            
            &>ul {
                transition: padding 0.2s;
                padding: 0px;
                
                &>li {
                    color: white;
                    height: 0;
                    padding: 0;
                    overflow: hidden;
                }
            }
        }
    }
}

section.page {
    position: relative;
    width: calc(100% - #{$nav-width});
    padding: 30px;
    min-height: calc(100vh - #{$header-height});

    &:after {
        content: '';
        border-left: 1px solid $c-text;
        height: calc(100% - 60px);
        position: absolute;
        top: 30px;
        left: 0px;
    }
}

.--sty.empty-error {
    display: table;
    width: 100%;
    height: calc(100vh - #{$header-height + 30});

    h2 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}

.--sty .cssmin div {
    text-align: center;
    padding: 20px;
    font-size: 16px;
}