$header-height  : 51px;
$nav-width      : 200px;

$dropdown-z     : 10;
$modal-z        : 20;
$loading-mask-z : 30;

:root {
  --c-h     : 210;
    --c-h-c : 30;
  --c-s     : 70%;
  --c-l     : 60%;
    --c-l-l : 70%;
    --c-l-l2: 85%;
    --c-l-d : 50%;
}

$c-prim         : HSL(var(--c-h), var(--c-s), var(--c-l));
$c-prim-light   : HSL(var(--c-h), var(--c-s), var(--c-l-l));
$c-prim-lightest: HSL(var(--c-h), var(--c-s), var(--c-l-l2));
$c-prim-dark    : HSL(var(--c-h), var(--c-s), var(--c-l-d));
$c-prim-comp    : HSL(var(--c-h-c), var(--c-s), var(--c-l));
$c-editor       : #333;
$c-editor-light : #666;
$c-text         : #333;
$c-disabled     : #777;

$outline: 2px solid $c-prim-comp;