@import './_common.scss';
@import './_icons.scss';
@import './_grid.scss';
@import './_comp-color-picker.scss';
@import './_comp-color-editor.scss';
@import './_comp-element-editor.scss';

$header-height: 51px;
$nav-width: 200px;

@function live-hsl($h, $s, $l) {
  @return HSL(
    var(#{ $h }),
    var(#{ $s }),
    var(#{ $l })
  );
}

@function live-lighten($h, $s, $l, $percent) {
  @return HSL(
      var(#{ $h }),
      var(#{ $s }),
      calc(
        var(#{ $l }) * #{ 1 + ($percent / 100) }
      )
    );
}

@function live-darken($h, $s, $l, $percent) {
  @return HSL(
    var(#{ $h }),
    var(#{ $s }),
    calc(
      var(#{ $l }) * #{ 1 - ($percent / 100) }
    )
  );
}

:root {
  --c-h: 210;
  --c-s: 70%;
  --c-l: 60%;
  --c-prim : live-hsl(--c-h, --c-s, --c-l);
  --c-prim-light : live-lighten(--c-h, --c-s, --c-l, 20);
  --c-editor : #333;
  --c-editor-light: #666;
  --c-text : #333;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--c-prim-light);

  .--sty {
    font-family: "Helvetica";
    color: var(--c-text);
  }
}

header.--sty.row {
  margin: 20px 0 0 0;
}

:not(.preview) main>section.row {
  margin-top: 0;
  background-color: white;
  min-height: calc(100vh - #{$header-height});
}

header.--sty ul {
  padding: 0;
  list-style: none;
  
  li {
    cursor: pointer;
    float: left;
    background-color: var(--c-prim);
    color: white;
    padding: 10px 20px;
    border-radius: 6px 6px 0 0;
    text-transform: uppercase;
    font-size: 10px;
    
    &:last-child {
      border-right-width: 2px;
    }
    
    &.selected {
      cursor: default;
      background-color: white;
      color: var(--c-text);
    }
  }
}

nav.--sty {
  position: sticky;
  top: 0;
  width: $nav-width;
  overflow: auto;
  
  ul {
    padding: 8px 0 0 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 11px;
    
    &>li {
      padding: 10px 5px 10px 15px;
      border-radius: 4px;
      transition: all 0.2s;
      cursor: pointer;
      
      &:hover {
        background-color: var(--c-prim-light);
        color: white;
      }
      
      &.selected {
        background-color: var(--c-prim);
        color: white;
        
        ul {
          padding: 5px;
          text-transform: capitalize;
          font-size: 12px;
        }
        
        li {
            height: 16px;
            padding: 5px;
          
            &.selected {
              cursor: default;
              margin-left: 20px;
              background-color: var(--c-prim-light);
            }
          }
      }
      
      &>ul {
        transition: padding 0.2s;
        padding: 0px;
        
        &>li {
          color: white;
          height: 0;
          padding: 0;
          overflow: hidden;
        }
      }
    }
  }
}

section.page {
  position: relative;
  width: calc(100% - #{$nav-width});
  min-height: calc(100vh - #{$header-height});
  
  &:after {
    content: '';
    border-left: 1px solid var(--c-text);
    height: calc(100% - 60px);
    position: absolute;
    top: 30px;
    left: 6px;
  }
}

.--sty code {
  word-wrap: pre;
  display: block;
  padding: 10px;
  background-color: var(--c-editor);
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  color: white;
  font-family: "Courier New";
}

.--sty.empty-error {
  display: table;
  width: 100%;
  height: calc(100vh - #{$header-height + 30});

  h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.--sty .cssmin div {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}